extends layout/_layout

block variables
    - title = 'FORMS';

block body
    body.flex.flex-col.text-blue-900.bg-gray-200
        +header({
            nav: [
                {label: 'BLOG'},
                {label: 'KONTAKT'}
            ]
        })

        main.container.mx-auto.px-3.grow.pb-16
            .text-md.py-4.border-b.border-gray-300.mb-10
                a(href="" data-after="/" class="hover:text-orange-500 after:content-[attr(data-after)] after:mx-2") Super Kids
                span.text-orange-500.font-bold Formularze

            .bg-white.border.drop-shadow-lg.rounded-xl.px-6.py-5.mb-6

                h4.mb-2.font-bold.text-xl input forms
                label(for="text").block.text-md.px-5.mb-1.pt-1 input label
                .relative
                    .flex.items-center.h-9.absolute.right-3.text-xl.bg-white.rounded(class="my-0.5")
                        i.icon-alert.text-orange-500.mx-2
                    input(type="text" placeholder="adres e-mail" id="text").control-input.border.border-orange-500
                    .text-orange-500.text-sm.px-5.-mt-1.mb-3 To pole jest wymagane

                label(for="password_input").block.text-md.px-5.mb-1.pt-1 password label
                .relative
                    .flex.items-center.h-9.absolute.right-3.text-xl.bg-white.rounded(class="my-0.5")
                        button(type="button" data-input-password="#password_input").flex.items-center
                            i.icon-eye-close.mx-2
                        i.icon-alert.text-orange-500.mx-2
                    input(type="password" placeholder="hasło" id="password_input").control-input.border.border-orange-500
                    .text-orange-500.text-sm.px-5.-mt-1.mb-3 To pole jest wymagane

                label(for="password").block.text-md.px-5.mb-1.pt-1 password label
                .relative
                    .flex.items-center.h-9.absolute.right-3.text-xl.bg-white.rounded(class="my-0.5")
                        button(type="button" data-input-password="#password").flex.items-center
                            i.icon-eye-close.mx-2
                    input(type="password" placeholder="hasło" id="password").control-input

                label(for="cars").block.text-md.px-5.mb-1.pt-1 select
                .relative
                    select(name="cars" id="cars").control-input
                        option(value="volvo") Volvo
                        option(value="saab") Saab
                        option(value="mercedes") Mercedes
                        option(value="audi") Audi

                label(for="textarea").block.text-md.px-5.mb-1.pt-1 textarea label
                .relative
                    textarea(id="textarea").control-textarea

                .mb-6

                h4.mb-2.font-bold.text-xl checkbox

                .mb-6
                    .flex.mb-2
                        input(type="checkbox" id="checkbox-1" checked="checked"
                            class="control-check bg-white rounded-sm focus:ring-opacity-25 border-gray-500 text-white focus:border-green-600 focus:ring-green-600 checked:border-green-600 checked:bg-green-600")
                        label(for="checkbox-1").block.text-md default checkbox

                    .flex.mb-2
                        input(type="checkbox" id="checkbox-2"
                            class="control-check bg-white rounded-sm focus:ring-opacity-25 border-gray-500 text-white focus:border-green-600 focus:ring-green-600 checked:border-green-600 checked:bg-green-600")
                        label(for="checkbox-2").block.text-md checkbox label with <a href="" class="text-green-600 font-medium hover:underline">link</a>

                    .flex.mb-2
                        input(type="checkbox" id="checkbox-3"
                            class="control-check bg-white rounded-sm focus:ring-opacity-25 border-orange-500 text-white focus:border-orange-500 focus:ring-orange-500 checked:border-green-600 checked:bg-green-600")
                        label(for="checkbox-3").block.text-md.text-orange-500 invalid checkbox

                h4.mb-2.font-bold.text-xl radio

                .mb-6
                    .flex.mb-2
                        input(type="radio" id="radio-1" checked="checked"
                            class="control-check bg-white rounded-full focus:ring-opacity-25 border-gray-500 text-white focus:border-green-600 focus:ring-green-600 checked:border-green-600 checked:bg-green-600")
                        label(for="radio-1").block.text-md default radio

                    .flex.mb-2
                        input(type="radio" id="radio-2"
                            class="control-check bg-white rounded-full focus:ring-opacity-25 border-gray-500 text-white focus:border-green-600 focus:ring-green-600 checked:border-green-600 checked:bg-green-600")
                        label(for="radio-2").block.text-md radio label with <a href="" class="text-green-600 font-medium hover:underline">link</a>

                    .flex.mb-2
                        input(type="radio" id="radio-3"
                            class="control-check bg-white rounded-full focus:ring-opacity-25 border-orange-500 text-white focus:border-orange-500 focus:ring-orange-500 checked:border-green-600 checked:bg-green-600")
                        label(for="radio-3").block.text-md.text-orange-500 invalid radio


                h4.mb-2.font-bold.text-xl switch

                .mb-6
                    label(for="toggle").inline-flex.items-center
                        .relative
                            input(type="checkbox" id="toggle").sr-only.peer
                            .block.w-9.h-5.rounded-full.select-none.bg-blue-900(class="peer-checked:bg-green-600")
                            .absolute.bg-white.w-4.h-4.rounded-full.transition(class="peer-checked:translate-x-4 left-0.5 top-0.5")
                        .ml-2.text-md switch label


        footer.bg-gray-100
            .container.mx-auto.px-3.flex.py-6
                .flex.flex-wrap.-mx-3
                    div(class="md:w-1/2 md:pb-0 md:mb-0").px-3.pb-4.mb-4
                        svg(
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 146 27.1"
                            class="w-24 mb-6")
                            path(fill="currentColor" d="M0,17.7l1.8-4c1.9,1.2,4.1,1.8,6.3,1.9c2.2,0,3.1-0.6,3.1-1.5c0-3-10.8-0.8-10.8-7.9C0.4,2.8,3.2,0,8.8,0c2.4,0,4.8,0.5,6.9,1.7l-1.7,4c-1.6-0.9-3.4-1.4-5.3-1.5C6.4,4.2,5.6,5,5.6,5.9c0,2.9,10.8,0.7,10.8,7.7c0,3.3-2.8,6.1-8.4,6.1C5.2,19.9,2.4,19.2,0,17.7")
                            path(fill="currentColor" d="M34.1,4.7v14.7h-4.9v-1.6c-1.1,1.2-2.7,1.9-4.4,1.8c-3.6,0-6.2-2.1-6.2-6.7V4.7h5.2v7.4c0,2.3,0.9,3.2,2.4,3.2s2.8-1,2.8-3.5V4.7C29,4.7,34.1,4.7,34.1,4.7z")
                            path(fill="currentColor" d="M53.9,12.1c0,4.7-3.2,7.6-7.2,7.6c-1.5,0.1-3-0.5-4.1-1.5v6.6h-5.2v-20h4.9v1.5c1.1-1.2,2.7-1.8,4.3-1.7C50.7,4.5,53.9,7.4,53.9,12.1 M48.7,12.1c0-2.2-1.4-3.5-3.1-3.5s-3.1,1.3-3.1,3.5s1.4,3.5,3.1,3.5S48.7,14.3,48.7,12.1")
                            path(fill="currentColor" d="M71.3,13.4H60.6c0.5,1.5,2,2.5,3.6,2.4c1.3,0,2.5-0.4,3.4-1.3l2.7,2.8c-1.4,1.6-3.5,2.4-6.3,2.4c-5.2,0-8.6-3.2-8.6-7.6s3.4-7.6,8.1-7.6c4.3,0,7.9,2.8,7.9,7.6C71.4,12.5,71.3,13,71.3,13.4 M60.5,10.7h6c-0.3-1.7-1.9-2.8-3.6-2.5C61.7,8.4,60.8,9.4,60.5,10.7")
                            path(fill="currentColor" d="M83.6,4.5v4.6C83.2,9,82.8,9,82.4,9c-2.1,0-3.5,1.1-3.5,3.6v6.8h-5.2V4.7h4.9v1.8C79.9,5.1,81.8,4.3,83.6,4.5")
                            path(fill="#FD0924" d="M132.2,20.7l1.5-3.5c1.6,0.9,3.3,1.4,5.1,1.4c1.7,0,2.3-0.4,2.3-1c0-2-8.7,0.3-8.7-5.6c0-2.8,2.6-4.9,7.2-4.9c2,0,4,0.4,5.8,1.2l-1.5,3.5c-1.3-0.7-2.8-1.1-4.2-1.1c-1.7,0-2.4,0.5-2.4,1c0,2,8.7-0.2,8.7,5.7c0,2.7-2.5,4.8-7.3,4.8C136.5,22.2,134.2,21.7,132.2,20.7")
                            path(fill="#009BDC" d="M130.1,1.7v20.1h-4.9v-1.5c-1.1,1.2-2.7,1.8-4.3,1.7c-4,0-7.2-2.9-7.2-7.6s3.2-7.6,7.2-7.6c1.5-0.1,3,0.5,4.1,1.5V1.6L130.1,1.7L130.1,1.7z M125,14.5c0-2.2-1.3-3.5-3.1-3.5s-3.1,1.2-3.1,3.5s1.3,3.5,3.1,3.5C123.6,18,125,16.7,125,14.5")
                            path(fill="#FF6F00" d="M105.4,2.9c0.1-1.6,1.4-2.8,2.9-2.8c0.1,0,0.1,0,0.2,0c1.9,0,3.2,1.1,3.2,2.7s-1.3,2.9-2.9,2.8c-0.1,0-0.2,0-0.3,0c-1.6,0.2-3-1-3.1-2.5C105.4,3,105.4,2.9,105.4,2.9 M105.9,7.2h5.2v14.7h-5.2V7.2z")
                            path(fill="#98C511" d="M93.3,14.9l-2,2.1v4.8H86v-19h5.3v7.9l7.4-7.9h5.9l-7.8,8.4l8.2,10.6h-6.2L93.3,14.9z")

                        p.text-sm.mb-6 Cras id libero justo. Donec sed enim quis tellus scelerisque viverra. Ut blandit massa et velit vehicula, vitae volutpat arcu feugiat. Vivamus tempus euismod felis. Pellentesque et lorem.

                        .flex
                            a(href="" class="hover:text-blue-500").text-pink-500.mr-4.transition
                                i.icon-facebook.text-sl
                            a(href="" class="hover:text-blue-500").text-pink-500.mr-4.transition
                                i.icon-twitter.text-sl
                            a(href="" class="hover:text-blue-500").text-pink-500.mr-4.transition
                                i.icon-youtube.text-sl

                    div(class="md:w-1/3 md:ml-16").px-3.flex
                        .flex.flex-col.mr-20
                            a(href="" class="hover:text-blue-500").font-bold Kontakt
                            a(href="" class="hover:text-blue-500").font-bold Blog
                            a(href="" class="hover:text-blue-500").font-bold Regulamin
                        .flex.flex-col
                            a(href="" class="hover:text-blue-500").font-bold FAQ
                            a(href="" class="hover:text-blue-500").font-bold Pomoc
                            a(href="" class="hover:text-blue-500").font-bold Pliki Cookies

            .bg-blue-900.text-white.py-3
                .container.mx-auto.px-4.flex

                    .ml-auto.text-sm.opacity-80 &copy; 2022 SuperKids
